*.class
*.jar
*~
.*.sw*
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.repl
.sw*
/.cljs_node_repl/
/.cljs_rhino_repl/
/.lein-*
/.nrepl-port
/checkouts/
/classes/
/lib/
/node_modules/
/npm-debug.log
/out/
/resources
/resources/public/js/compiled/**
/target/
figwheel_server.log
pom.xml
pom.xml.asc
